{% extends "default.html" %}
{% load url from future %}
{% block content%}
    <div class="span5 container-fluid" ng-controller="EpisodeCtrl">
        <h2>Recently added episodes</h2>
        <div class="row episode" ng-repeat="episode in episodes.objects">
            <div class="span2">
                <thumbnail source=" episode.thumbnail_url"></thumbnail>
            </div>
            <div class="span10">
                <h3>{/episode.tvshow.title/}</h3>
                <p>{/episode.season/}x{/episode.episode|pad:2:'0'/} - {/episode.title/}</p>
                <p>{/episode.plot_summary/}</p>
                <rating value="episode.rating" max="10" readonly>
            </div>
        </div>
        <button class="btn btn-small" ng-click="more()"><i class="icon icon-plus"></i> Fetch more</button>
    </div>
    <div class="span5 container-fluid" ng-controller="MovieCtrl">
        <h2>Recently added Movies</h2>
        <div class="row episode" ng-repeat="movie in movies.objects">
            <div class="span2">
                <thumbnail source="movie.thumbnails"></thumbnail>
            </div>
            <div class="span10">
                <h3>
                    {/movie.title/}<br />
                    <small>{/movie.tagline/}</small>
                </h3>
                <p>{/movie.plot_summary/}</p>
                <rating value="movie.rating" max="10" readonly>
            </div>
        </div>
        <button class="btn btn-small" ng-click="more()"><i class="icon icon-plus"></i> Fetch more</button>
    </div>
{% endblock %}